
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* ======================= */
/* BODY */
/* ======================= */
body {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}


main {
  flex: 1;
  padding-bottom: 30px;
}


/* ======================= */
/* HEADER */
/* ======================= */

header {
  background-color: white;
  padding: 15px 40px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo */
.logo {
  width: 120px;
}

/* contenedor derecho */
#auth {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* botón EVENTOS (centro visual) */
#btnEventos {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  padding: 6px 15px;
  font-size: 16px;
}


#btnEventos:hover {
  border: 2px solid #007BFF
}


/* login */
#btnLogin {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
}


#btnLogin:hover {
  color: #007BFF;       /* azul */
  text-decoration: underline;
}


/* botón REGISTRO (ESTILO DEL DISEÑO) */
#btnRegistro {
  padding: 8px 15px;
  border-radius: 20px;
  border: 2px solid #007BFF;
  background: transparent;
  color: #007BFF;
  cursor: pointer;
  font-size: 15px;

}

#btnRegistro:hover {
  background: #007BFF;
  color: white;
}

/* ======================= */
/* FOOTER */
/* ======================= */

footer {
  background-color: #f3d6d0; /* rosado claro como tu diseño */
  padding: 20px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* IZQUIERDA (copyright) */
.footer-izquierda {
  font-size: 12px;
  color: #ff3b30; /* rojo suave */
}

/* CENTRO (logo) */
.footer-centro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-centro img {
  width: 100px;
}

/* DERECHA (iconos) */
.footer-derecha {
  display: flex;
  align-items: center;
}

.footer-derecha img {
  width: 20px;
  margin-left: 15px;
  cursor: pointer;
}

/*====================*/

/* ======================= */
/* SECCIÓN INICIO COMPLETA */
/* ======================= */


#inicio {
  background-color: #ffffff;
  text-align: center;
  padding: 40px 20px;
}


/* ======================= */
/* TÍTULO PRINCIPAL */
/* ======================= */
#inicio h1 {
  font-size: 40px;
  color: #ff3b30; /* rojo */
  margin-bottom: 15px;
}

#inicio p {
  max-width: 600px;
  margin: auto;
  font-size: 16px;
  line-height: 1.6;
}


/* ======================= */
/* LÍNEA DECORATIVA */
/* ======================= */
#inicio hr {
  margin: 30px auto;
  width: 60%;
  border: 1px solid #ffb3a7;
}


/* ======================= */
/* SUBTÍTULO */
/* ======================= */
#inicio h2 {
  color: #00a8b5;
  margin-bottom: 30px;
}


/* ======================= */
/* CONTENEDOR DE CARDS */
/* ======================= */
.contenedor-eventos {
  display: grid;
  grid-template-columns: repeat(3, 260px);
  justify-content: center;
  gap: 25px;
  align-items: start;
}


/* ======================= */
/* CARD */
/* ======================= */
.card {
  border: 1px solid #3ba4d8;
  border-radius: 12px;
  overflow: hidden;
  background-color: white;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/* ======================= */
/* IMAGEN */
/* ======================= */
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}


/* ======================= */
/* INFO FECHA / CIUDAD */
/* ======================= */
.info-basica {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.fecha {
  background-color: #d9ebff;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
}

.ciudad {
  background-color: #ffd4cc;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
}


/* ======================= */
/* TÍTULO CARD */
/* ======================= */
h3 {
  font-size: 14px;
  padding: 10px;
  text-align: left;
  min-height: 70px
}


/* ======================= */
/* FOOTER CARD */
/* ======================= */
.footer-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  margin-top: auto
}

.footer-card p {
  font-size: 13px;
}


/* ======================= */
/* BOTÓN + */
/* ======================= */
.btnabrir {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #ff3b30;
  background: transparent;
  color: #ff3b30;
  font-size: 18px;
}

.btnabrir:hover {
  background-color: #ff3b30;
  color: white;
}


/* DETALLE CARD */
.info-detalle {
  margin: 10px;
  padding: 15px;
  background-color: #f4f6f8;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.detalle p {
  font-size: 13px;
  margin-bottom: 10px;
  line-height: 1.4;
}

.detalle strong {
  display: block;
  margin-top: 10px;
  font-size: 13px;
}


/* FOOTER DETALLE */
.footer-detalle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;


  margin-top: auto;
}

.lado-izquierdo {
  display: flex;
  flex-direction: column; 
  gap: 8px;
}


/* BOTON */
.btnInscribirse {
  background-color: #9bd0d4; /* azul suave */
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.btnInscribirse:hover {
  background-color: #6fbac0;
}

.btncerrar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #ff3b30;
  background: transparent;
  color: #ff3b30;
  font-size: 18px;
}

.btncerrar:hover {
  background-color: #ff3b30;
  color: white;
}

/* ======================= */
/* BARRA EVENTOS */
/* ======================= */
.barra-eventos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 40px;
  position: relative;
  padding: 15px;
  border: 2px solid #6fbac0;
  border-radius: 10px;       /* esquinas redondeadas */
  outline: none;
  background-color: #61d5e46c;

}

.eventosdes{
    text-align: center;
    padding: 15px;
}

/* ======================= */
/* BUSCADOR */
/* ======================= */

.buscador-container {
  position: relative;
}

#buscador {
  width: 350px;
  padding: 10px 15px;
  border: 2px solid #e74c3c;
  border-radius: 10px;
  outline: none;
}

/* MENSAJE */
#mensajeBusqueda {
  position: absolute;
  top: 45px;
  left: 0;
  color: red;
  font-size: 14px;
}


/* ======================= */
/* CATEGORÍAS */
/* ======================= */

.categorias {
  position: relative;
}

/* BOTÓN */
#btnCategorias {
  padding: 10px 40px;
  border: 2px solid #e74c3c;
  border-radius: 10px;
  background: white;
  cursor: pointer;
}

/* MENÚ */
.menu-categorias {
  position: absolute;
  top: 50px;
  right: 0;
  width: 220px;

  background: white;
  border: 2px solid #e74c3c;
  border-radius: 10px;
  padding: 10px;
}

/* OPCIONES */
.menu-categorias p {
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
}

.menu-categorias p:hover {
  background-color: #f5f5f5;
}



/* ======================= */
/* CONTENEDOR PERFIL */
/* ======================= */
#perfil {
  position: relative;
}


/* ======================= */
/* BOTÓN PERFIL */
/* ======================= */
#btnPerfil {
  padding: 8px 20px;
  border-radius: 20px;
  border: 2px solid #007BFF;
  background: white;
  color: #007BFF;
  cursor: pointer;
  transition: 0.3s;
}

#btnPerfil:hover {
  background-color: #007BFF;
  color: white;
}


/* ======================= */
/* MENÚ DESPLEGABLE */
/* ======================= */
#menuPerfil {
  position: absolute;
  top: 45px;
  right: 0;

  width: 220px;
  padding: 15px;

  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;

  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  z-index: 100;
}


/* ======================= */
/* TEXTO PERFIL */
/* ======================= */
#menuPerfil p {
  margin-bottom: 8px;
  font-size: 14px;
}


/* ======================= */
/* BOTONES DENTRO */
/* ======================= */
#menuPerfil button {
  width: 100%;
  padding: 8px;
  margin-top: 8px;

  border-radius: 8px;
  cursor: pointer;
  background: white;
}


/* ======================= */
/* MIS EVENTOS */
/* ======================= */
#btnIreventos {
  border: 2px solid red;
  color: red;
}

#btnIreventos:hover {
  background-color: red;
  color: white;
}

/* ======BOTON DISABLED========== */

.btnInscribirse:disabled {
  background-color: #ccc;
  color: #333;
  cursor: not-allowed;
}


/* ======================= */
/* CERRAR SESIÓN */
/* ======================= */
#btnCerrar {
  border: 2px solid #007BFF;
  color: #007BFF;
}

#btnCerrar:hover {
  background-color: #007BFF;
  color: white;
}



/* ======================= */
/* SECCIÓN MIS EVENTOS */
/* ======================= */
#misEventos {
  padding: 30px;
  background-color: #f3d6d0;
  border-radius: 15px;
  margin: 30px;

}

/* CONTENEDOR */
#listaMisEventos {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.evento-item {
  display: flex;
  align-items: center;

  background: #f2f2f2;
  border: 2px solid #3ba4d8;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 15px;
}

/* imagen */
.evento-item img {
  width: 120px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
}

/* info */
.info-evento {
  flex: 1;
  margin-left: 15px;
}

.info-evento h4 {
  font-size: 14px;
  margin-bottom: 5px;
}

.info-evento p {
  font-size: 13px;
  margin: 2px 0;
}

.label {
  color: red;
  font-weight: bold;
}

/* botón */
.btnCancelar {
  background-color: #5bb3d4;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 20px;
  cursor: pointer;
}

.btnCancelar:hover {
  background-color: #3b9ab8;
}


/* ======================= */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,0.4);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}


/* ======================= */
/* CAJA EXTERIOR */
/* ======================= */
.tarjeta-registro {
  background-color: #f6cfc8;
  padding: 20px;
  border-radius: 20px;
}

.tarjeta-login {
  background-color: #cde6ea;
  padding: 20px;
  border-radius: 20px;
}


/* ======================= */
/*  CAJA INTERNA (BLANCA) */
/* ======================= */
.modal-contenido {
  background-color: #ffffff;
  width: 320px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  position: relative;
}


/* ======================= */
/* INPUTS */
/* ======================= */
.modal-contenido input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 8px;
  outline: none;
}

/* REGISTRO (ROJO) */
.tarjeta-registro .modal-contenido input {
  border: 2px solid #e74c3c;
}

/* LOGIN (AZUL) */
.tarjeta-login .modal-contenido input {
  border: 2px solid #5bb3d4;
}


/* ======================= */
/* BOTONES */
/* ======================= */
.modal-contenido button {
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

/* BOTÓN REGISTRO */
.tarjeta-registro .modal-contenido button {
  background-color: #e74c3c;
  color: white;
}

.tarjeta-registro .modal-contenido button:hover {
  background-color: #c0392b;
}

/* BOTÓN LOGIN */
.tarjeta-login .modal-contenido button {
  background-color: #5bb3d4;
  color: white;
}

.tarjeta-login .modal-contenido button:hover {
  background-color: #3b9ab8;
}


/* ======================= */
/* LINKS (CAMBIAR ENTRE MODALES) */
/* ======================= */
.irLogin,
.irRegistro {
  margin-top: 10px;
  font-size: 13px;
  cursor: pointer;
  color: #007BFF;
}

.irLogin:hover,
.irRegistro:hover {
  text-decoration: underline;
}


/* ======================= */
/* BOTÓN CERRAR (X) */
/* ======================= */
.cerrar {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 2px solid black;
  background: white;
  cursor: pointer;
}

.cerrar:hover {
  background-color: #eee;
}


.modal-contenido img {
    width: 40px;
    height: auto;
    margin-bottom: 10px;
}


.modal-contenido label {
  display: block;
  text-align: left;
  margin-top: 8px;
}

/*====MEDIAS QUERIES====*/
/* ======================= */
/* 📱 CELULAR */
/* ======================= */
@media (max-width: 767px) {

  /* NAV */
  nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
  }


  .logo {
    width: 100px;
    margin-bottom: 5px
  }

  .nav-btn {
    width: 90%;
  }


  /* INICIO */
  #inicio {
    padding: 20px;
    text-align: center;
  }
  
  .bloqueUno {
    margin: 15px;
  }

  #inicio h1 {
    font-size: 30px;
  }

  #inicio p {
    font-size: 20px;
  }


  /* CONTENEDOR */
  .contenedor-eventos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  /* CARDS */
  .card {
    width: 95%;
    margin-bottom: 15px;
  }

  .card img {
    width: 100%;
    height: auto;
  }


  /* DETALLE */
  .footer-detalle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
  }

  .lado-izquierdo {
    text-align: center;
  }


  /* BUSCADOR + CATEGORÍAS */
  .barra-eventos {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  #buscador {
    width: 90%;
  }


  /* MIS EVENTOS */
  .evento-item {
    flex-direction: column;
    text-align: center;
  }

  .evento-item img {
    width: 100%;
  }

  .btnCancelar {
    width: 100%;
  }


  /* MODALES */
  .modal-contenido {
    width: 90%;
  }


}


/* ======================= */
/* 📲 TABLET */
/* ======================= */
@media (min-width: 768px) and (max-width: 1023px) {


  /* NAV */
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 20px;
    gap: 10px;
  }

  .logo {
    width: 120px;
  }

  .nav-btn {
    font-size: 15px;
    padding: 8px 12px;
  }


  /* CONTENEDOR DE EVENTOS */
  .contenedor-eventos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  /* CARDS (2 columnas) */
  .card {
    width: 45%;
  }


  /* FOOTER DETALLE */
  .footer-detalle {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .lado-izquierdo {
    text-align: left;
  }


  /* BUSCADOR */
  .barra-eventos {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  #buscador {
    width: 60%;
  }


  /* MIS EVENTOS */
  .evento-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .evento-item img {
    width: 120px;
  }

  .btnCancelar {
    width: auto;
  }


  /* MODALES */
  .modal-contenido {
    width: 350px;
  }


}


/* ======================= */
/* 💻 DESKTOP + LAPTOP */
/* ======================= */
@media (min-width: 1024px) {

}
